*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.about-us{
    padding: 80px 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex: 0 0 50%;
    max-width:50%;
    padding: 0 20px;
}
.about-us h2{
    font-size:  18px;
    margin-bottom: 20px;
    color:#333;
}
.about-us h3{
    font-size: 22px;
    color: #888;
    margin-bottom: 8px;
}
.about-us p{
    font-size:18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}
.about-us img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.social-links{
    margin-bottom: 20px;
}
.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color:#fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0,3);
    transition: all 0.4s ease;
}
.social-links a:hover{
    transform: translateY(-3px);
}
.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform:uppercase;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0,3);
    transition: all 0.4s ease ;
}
.btn:hover{
    transform: translateY(-3px);
}

@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }
    .flext{
        max-width: 100%;
    }
    .about-us h2{
        font-size: 50px;
    }
    .about-us p{
        font-size: 16px;
    }
    .social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}
.gallery {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    
    display: grid;
    border-radius: 50%;
    padding-top: 40px;
    padding-left: 300px;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
  }
  .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g))
  }
  .column {
    float: left;
    width: 20%;
    margin-bottom: 106px;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 200px) {
    .column {
      width: 50%;
      display: block;
    }
  }
  

































































































































































































































































































































































































































































































































































































































































































































